* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Light.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto bold";
    src: url(./fonts/Roboto-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: rgba(204, 204, 204, 0.521);
    position: relative;
    height: 100vh;
    font-family: "Roboto";
    font-weight: 400;
}

.container {
    width: 800px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
}

.score-div {
    display: flex;
    justify-content: space-evenly;
}

.tap {
    text-align: center;
    margin-top: 40px;
}

.options {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.far {
    font-size: 70px;
    cursor: pointer;
    transition: .2s ease-in-out all;
}

.far:hover {
    transform: scale(1.2);
}

.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-top: 70px;
    width: 450px;
}

#playerChoice,
#computerChoice {
    margin-top: 20px;
    font-family: "Roboto bold";
}

#playerResult,
#computerResult {
    margin-top: 20px;
}

.selectRoundsContainer {
    height: 100vh;
    width: 100vw;
    background-color: rgb(235, 232, 232);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease-in-out all;
}

.selectRounds {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 11;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.selectRounds button {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgba(235, 232, 232, .7);
    transition: .1s all ease-in-out;
}

.selectRounds button:hover {
    background-color: rgb(185, 185, 185);
}

.selectRounds p {
    margin: 20px 0 40px 0;
}

.selectRounds h3 {
    margin-top: 20px;
}

.hideRoundsContainer {
    display: none;
}

.winnerScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(182, 182, 182);
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 20px;
    transition: .5s ease-in-out all;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.winnerScreen h1 {
    margin-bottom: 50px;
}

.newGameBtn {
    padding: 5px 10px;
    width: 100px;
    margin: 0 auto;
}

.displayWinnerScreen {
    display: flex;
}

@media only screen and (max-width: 650px) {
    .container {
        width: 350px;
    }
    .score-div {
        flex-direction: column;
    }
    #computerResult {
        margin-left: 0;
    }
    .choices {
        width: 350px;
    }
    .selectRounds {
        width: 350px;
    }
}